// Typography

// $font--provider:    'Google Fonts';
// $font--import:      'Inter:400,500,600,700,800';

// @import "_fonts.scss";

// The font set
$font--family: (
	heading: 	'Montserrat, sans-serif',
	base:		'Montserrat, sans-serif',
	code: 		'Montserrat, Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace',
	pre: 		'Montserrat, Courier, monospace'
);

// The typographic scale
$font--scale: (
	// key 		// font-size, line-height, kerning
	alpha:   	( clamp(1.25rem, 10vw - 1.05rem, 2.063rem), 36px, -0.3px ),
	beta:    	( clamp(1.188rem, 8.6vw - 1rem, 2rem), 36px, -0.3px ),
	gamma:   	( clamp(1.188rem, 8vw - 1rem, 1.938rem), 30px, -0.3px ),
	delta:   	( clamp(0.988rem, 7.4vw - 1rem, 1.375rem), 28px, -0.1px ),
	epsilon: 	( 16px, 30px, -0.1px ),
	zeta:    	( clamp(0.78rem, 6.1vw - 1rem, 1.093rem), 28px, -0.1px ),
	eta:     	( clamp(0.71rem, 0.8vw + 0.55rem, 1.075rem), 28px, -0.1px ),
	theta:   	( clamp(0.7rem, 5.4vw - 1rem, 1.0425rem), 26px, null )
);

// Base elements: font size
$font--size: (
	// ↓ Mobile 	// key in $font--scale
	h1:				'beta',
	h2:				'gamma',
	h3:				'delta',
	h4:				'delta',
	h5:				'zeta',
	base:			'epsilon',
	sm:				'zeta',
	xs:				'eta',
	xxs:			'theta',
	bquote: 		'epsilon',
	figcap: 		'theta',
	code: 			'eta',
	pre: 			'eta',
	table: 			'eta',
	// ↓ Desktop (set to null if font size won't change on desktop)
	h1-desktop:		'alpha',
	h2-desktop:		'beta',
	h3-desktop:		'gamma',
	h4-desktop:		null,
	base-desktop:	null,
	sm-desktop:		null,
	xs-desktop:		null,
	xxs-desktop:	null,
	bquote-desktop: null,
	figcap-desktop: null,
	code-desktop:	null,
	pre-desktop:	null,
	table-desktop: 	null
);

// Base elements: font weight
$font--weight: (
	heading:	800,
	base: 		400,
	strong:		700,
	bquote: 	600,
	figcap: 	null,
);
