// .section-inner-wrapper{
//     .section-inner{
//         padding-left:16px ;
//         padding-right:16px ;
//     }
// }
.features-descriptive-text.section{
    .section-inner-wrapper{
        margin-top: 15vh;
        .section-inner{
            padding-left:48px;
            padding-right:48px;
            .descriptive-text-wrap{
             .descriptive-text{
                font-family: comfortaa;
                color: get-color(dark,1);
                opacity: 0.22;
                will-change: opacity;
                transition: opacity 540ms;
                @include font-size(h3);
                @include font-size(h3Sattuni);
                &.text-focus{
                    opacity: 1;
                }
                &.heading{
                    @include font-size(h1);
                }
             }   
            }
        }
    }
}
@include media( '>=medium' ) {
    .section-inner-wrapper{
        .section-inner{
            .descriptive-text-wrap{
                padding-left: 56px;
                padding-right: 56px;
            }
        }
    }
}