.features-contact-us.section{
    background-color: get-color(dark,1);
}
.features-contact-us-inner.section-inner{
    display: flex;
    flex-direction: column-reverse;
}
.contact-us-form-outer-wrapper{
    padding:0 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    form > .form-label{
        text-align: center;
        > h4{
            color: get-color(light,1);
        }
    }
}
.contact-us-form-button-section{
    .button-group{
        justify-content: flex-end;
    }
}
.contact-us-sections-separator{
    display: none;
}
.opening-hours-section{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .opening-hours-header{
        text-align: center;
        > h6 {
            color: get-color(light,1);
        }
    }
    .opening-hours-section-table{
        max-width: 320px;
        min-width: 260px;
        align-self: center;
        text-align: left;
        color: get-color(light,1);
        .day-wrapper{
            display: flex;
            justify-content: space-between;
        }
    }
}


@include media( '>large' ) {
    .features-contact-us-inner.section-inner{
        flex-direction: row;
        gap: 3px;
        .contact-us-form-outer-wrapper{
            flex-grow: 7;
        }
        .opening-hours-section{
            flex-grow: 4;
        }
        .contact-us-sections-separator{
            display: block;
            width: 1px;
            // height: 100%;
            background-color: get-color(light,1);
        }
    }
    .contact-us-form-details-section{
        display: flex;
        .form-details-field{
            flex-grow: 1;
        }
    }
    .contact-us-text-area-section, .contact-us-form-button-section, .form-details-field{
        padding: 0 12px;
    }
}
@include media( '<=large' ) {
    .contact-us-form-button-section{
        .button-group{
            .button-wide-mobile{
                // flex-grow: 1;
                max-width: unset;
            }
        }
    }
}