@keyframes caretBounce {
	0% {
	  transform: translateY(0%);
	}
  
	30% {
	  transform: translateY(17%);
	}
  
	60% {
	  transform: translateY(0%);
	}
  
	100% {
	  transform: translateY(0%);
	}
}

.hero {
	height: 100vh;
	height: 100svh;
	background-color: get-color(dark,1);
	.container-sm{
		height: 100%;
		.section-inner {
			padding-top: $hero--padding-t__mobile;
			padding-bottom: $hero--padding-b__mobile;
		}

		.hero-scroll-icon-container{
			.hero-scroll-icon{
				background-image: url(../../../icons/caret-down-thin_white.svg);
				height: 40px;
				width: 40px;
				fill: white;
				background-size: cover;
				background-position: center;
				animation: caretBounce 2s linear;
				animation-iteration-count: 3;
				
			}
		}
	}
	// .hero-subtitle{
	// 	color: get-color(light, 1);
		
	// }
	&::before {    
		content: "";
		background-image: url('../../../images/Sattuni_Close up_1.jpg');
		background-size: cover;
		background-position: center;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		opacity: 0.42;
  }
}

.hero-inner {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;
	align-items: center;

	.hero-content{
		background: rgba(white, 0.2);
		padding: 2.1rem 1.5rem;
		border-radius: 0.25rem;
		min-height: 50vh;;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		>h1, h4{
			color: get-color(light,4)
		}
	}
	// Affects only hero full
	> .hero-content + .hero-figure,
	> .hero-figure + .hero-content {
		margin-top: $hero--inner-padding-v_mobile;
	}

	> .hero-figure {

		> a {
			display: inline-flex;
			// prevents stretching
			align-items: center;
			vertical-align: top;
		}
	}
}

@include media( '<=medium' ) {

	.hero {

		.split-wrap {

			.split-item {

				.split-item-content {
					margin-bottom: $hero--inner-padding-v_mobile;
				}
			}

			&.invert-mobile {

				.split-item {

					.split-item-image {
						margin-bottom: $hero--inner-padding-v_mobile;
					}
				}
			}
		}
	}
}

@include media( '>medium' ) {

	.hero {

		.section-inner {
			padding-top: $hero--padding-t__desktop;
			padding-bottom: $hero--padding-b__desktop;
		}
	}

	.hero-inner {

		// Affects only hero full
		> .hero-content + .hero-figure,
		> .hero-figure + .hero-content {
			margin-top: $hero--inner-padding-v_desktop;
		}
	}
}
